{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add Playlist
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'player/css/add_sound.css' %}">
{% endblock %}
{% block content %}
    <div class="wrapper">
        <form enctype="multipart/form-data" method="POST" class="add__form">
            {% csrf_token %}
            {{ form.name }}
            {{ form.cover }}
            <button type="submit" class="btn1"><h2>Upload</h2></button>
        </form>
    </div>


{% endblock %}