{% extends "base.html" %}
{% load static %}
{% block title %}
    Sound - {{ sound.name }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'player/css/sound.css' %}">
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="left">
            <div class="sound__block">
                <img src="{{ sound.cover_file.url }}">
                <div class="sound__info">
                    <h2>{{ sound.creator }} - {{ sound.name }}</h2>
                    <p>Creator: {{ sound.creator }}</p>
                    <p>Duration: {{ sound.str_duration }}</p>
                    <p>Uploaded: {{ sound.uploaded }}</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ add_to_playlist.playlist }}
                    </form>
                </div>
            </div>
            {% include 'includes/audio_controller.html' with sound=sound %}
        </div>

        <div class="right">

        </div>


    </div>

{% endblock %}