@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    background-color: #4A466E;
    color: #F4ECE3;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    margin: 0px 50px auto;
}