{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/reset_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="wrapper">

        <img src="{% static 'img/logo.svg' %}" alt="logo">
        <a href="{% url 'playlists_list' %}" class="nav_link"><p>Playlists</p></a>
        <a href="{% url 'playlist_all' %}" class="nav_link"><p>Tracks</p></a></a>
        <div class="header_buttons">
            <form class="ml30" action="{% url 'add_playlist' %}">
                <button class="btn1">
                    <h2>Add playlist</h2>
                </button>
            </form>
            <form class="ml30" action="{% url 'add_sound' %}">
                <button class="btn1">
                    <h2>Upload</h2>
                </button>
            </form>
            <form class="ml30 profile" action="{% url 'profile' %}">
                <button>
                    <img src="{% static 'img/bxs-user.svg' %}" alt="" class="profile_img">
                </button>

            </form>
        </div>

    </div>


</header>
{% block content %}{% endblock %}
<footer>
    <p>@designed and developed by Lippert Mark</p>
    <img src="{% static 'img/logo.svg' %}" alt="logo">
    <p>music.player@gmail.com</p>
</footer>
<script src="{% static 'player/js/sound.js' %}"></script>
</body>
</html>